<div class="show_wrapper">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name</strong>
    </br>
    <%= @drug.name %>
  </p>

  <p>
    <strong>Commerical name</strong>
    </br>
    <%= @drug.commercial_name %>
  </p>

  <p>
    <strong>Class</strong>
    </br>
    <%= @drug.class %>
  </p>

  <p>
    <strong>Category</strong>
    </br>
    <%= @drug.category %>
  </p>

  <p>
    <strong>Concentration</strong>
    </br>
    <%= @drug.concentration %> mg/ml
  </p>

  <p>
    <strong>Dose Range</strong>
    </br>
    <ul class="drug">
      <!-- Loop to pull availiable helpers from clinical_dose to drugs, since drug "has_many" clinical doses -->
    <% @drug.clinical_doses.each do |clinical_dose| %>
      <li><%= clinical_dose.range %> mg/ml (<%= clinical_dose.species_output %>)</li>
    <% end  %>
  </ul>
  </p>

  <p class="adverse">
    <strong>Adverse Effects</strong>
  </br>
    <%= @drug.adverse %>
  </p>

  <p>
    <strong>Route of administration</strong>
    </br>
    <%= @drug.route_of_admin_expand %>
  </p>

  <p>
    <strong>Pronunciation</strong>
    </br>
    <%= @drug.pronunciation %>
  </p>
  <div class="crud">
[  <%= link_to 'Edit', edit_drug_path(@drug) %> |
  <%= link_to 'Back', drugs_path %> |
  <%= link_to 'Literature', '/references' %> ]
  </div>
</div>
