<%= simple_form_for(@patient_procedure) do |f| %>
    <%
    @patient = Patient.find(params[:patient_id]) if params[:patient_id]
    %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if params[:patient_id] %>
      <%= f.input :patient_id, as: :hidden, input_html: { value: params[:patient_id] } %>
    <% else %>
      <%= f.association :patient, label_method: :full_name, value_method: :id %>
    <% end %>
    <%= f.association :procedure %>
    <%= f.simple_fields_for ((@patient_procedure && @patient_procedure.risk) || Risk.new ) do |risk_builder| %>
      <%= risk_builder.input :asa %>
      <%= risk_builder.input :temperament %>
      <%= risk_builder.input :bcs %>
      <% if @patient %>
        <%= risk_builder.input :breed, as: :hidden, input_html: {value: @patient.breed.name } %>
        <div class="breed_risk">
        <%= Risk.breed_risk @patient.breed.name %>
        </div>
      <% else %>
        <%= risk_builder.input :breed %>
      <% end %>
      <%= risk_builder.input :comorbidities %>
      <%= risk_builder.input :age %>
      <%= risk_builder.input :heart_murmur %>
      <!-- < f.input :procedure %> -->
      <!-- < f.input :history %> -->
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

  <!--  render 'risks/form', risk: Risk.new(@patient_procedure)%> -->
<% end %>
