<p id="notice"><%= notice %></p>

<h1>Protocol Drugs</h1>

<table>
  <thead>
    <tr>
      <th>Dose</th>
      <th>Additional analgesic</th>
      <th>Drug</th>
      <th>Protocol</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @protocol_drugs.each do |protocol_drug| %>
      <tr>
        <td><%= protocol_drug.dose %></td>
        <td><%= protocol_drug.additional_analgesic %></td>
        <td><%= protocol_drug.drug %></td>
        <td><%= protocol_drug.protocol %></td>
        <td><%= link_to 'Show', protocol_drug %></td>
        <td><%= link_to 'Edit', edit_protocol_drug_path(protocol_drug) %></td>
        <td><%= link_to 'Destroy', protocol_drug, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Protocol Drug', new_protocol_drug_path %>
