<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @patient.fname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @patient.lname %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @patient.dob %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @patient.sex_expand %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @patient.weight_kg %>
</p>

<p>
  <strong>Species:</strong>
  <%= @patient.breed.species %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @patient.breed.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @patient.user.dr_name%>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %> |
<%= link_to 'New Procedure', new_patient_procedure_path %>
