<div class="show_wrapper">
<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @patient.fname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @patient.lname %>
</p>

<p>
  <strong>Age:</strong>
  <%= @patient.age_expand %> yr
</p>

<p>
  <strong>Sex:</strong>
  <%= @patient.sex_expand %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @patient.weight_kg %>
</p>

<p>
  <strong>Species:</strong>
  <%= @patient.breed.species %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @patient.breed.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @patient.user.dr_name%>
</p>

<p>
  <strong>Previous Procedures:</strong>
  <% @patient.patient_procedures.each do |patient_procedure| %>
  <%= patient_procedure.procedure.name %>,  (<%= time_tag(patient_procedure.created_at) %>)
  <% end %>
</p>
<div class="crud">
[ <%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %> |
<%= link_to 'New Procedure', new_patient_procedure_path(@patient)%> ]
</div>
</div>
