<%= simple_form_for(@risk) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :asa %>
    <%= f.input :temperament %>
    <%= f.input :bcs %>
    <%= f.input :breed %>
    <%= f.input :comorbidities %>
    <%= f.input :age %>
    <%= f.input :heart_murmur %>
    <%= f.input :procedure %>
    <%= f.input :history %>
    <%= f.association :patient_procedure %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
