<p id="notice"><%= notice %></p>

<p>
  <strong>Asa:</strong>
  <%= @risk.asa %>
</p>

<p>
  <strong>Temperament:</strong>
  <%= @risk.temperament %>
</p>

<p>
  <strong>Bcs:</strong>
  <%= @risk.bcs %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @risk.breed %>
</p>

<p>
  <strong>Comorbidities:</strong>
  <%= @risk.comorbidities %>
</p>

<p>
  <strong>Age:</strong>
  <%= @risk.age %>
</p>

<p>
  <strong>Heart murmur:</strong>
  <%= @risk.heart_murmur %>
</p>

<p>
  <strong>Procedure:</strong>
  <%= @risk.procedure %>
</p>

<p>
  <strong>History:</strong>
  <%= @risk.history %>
</p>

<p>
  <strong>Patient procedure:</strong>
  <%= @risk.patient_procedure %>
</p>

<%= link_to 'Edit', edit_risk_path(@risk) %> |
<%= link_to 'Back', risks_path %>
