<%= simple_form_for(@clinical_dose) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :min %>
    <%= f.input :max %>
    <%= f.association :drug %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
