<p id="notice"><%= notice %></p>

<p>
  <strong>Suggested Dose Range:</strong>
  <%= @clinical_dose.average %>
</p>

<p>
  <strong>Drug:</strong>
  <%= @clinical_dose.drug.name %>
</p>

<%= link_to 'Edit', edit_clinical_dose_path(@clinical_dose) %> |
<%= link_to 'Back', clinical_doses_path %>
