<%= simple_form_for(@protocol) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :weight %>
    <%= f.input :age %>
    <%= f.input :asa %>
    <%= f.input :bcs %>
    <%= f.input :alert %>
    <%= f.select :patient_id, options_for_select(Patient.pluck( :fname, :id)) %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
