<p id="notice"><%= notice %></p>

<p>
  <strong>Weight:</strong>
  <%= @protocol.weight %> kg
</p>

<p>
  <strong>Age:</strong>
  <%= @protocol.age %> yr
</p>

<p>
  <strong>ASA:</strong>
  <%= @protocol.asa %>
</p>

<p>
  <strong>BCS:</strong>
  <%= @protocol.bcs %>
</p>

<p>
  <strong>Alert:</strong>
  <%= @protocol.alert %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @protocol.patient.full_name %>
</p>

<%= link_to 'Edit', edit_protocol_path(@protocol) %> |
<%= link_to 'Back', protocols_path %>
